body {
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle, white, rgb(0, 0, 0));
    background-attachment: fixed;
}

/* Name, title and icon in the center of page */

#contactinfo {
    background-image: url(whiterock.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 28px;
    margin-top: 2em;
    margin-right: 20%;
    margin-left: 25%;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.90);
    }

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 2s ease-out;
}