body {
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle, white, rgb(0, 0, 0));
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 15%;
    margin-right: 10%;
}

#container {
    background-image: url(whiterock.jpg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 2em;
    margin-right: 10%;
    margin-left: 15%;
    border: 1px solid;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.90);
}

.cell {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}
